* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bgColor: #161616;
  --colorFont: #c3c3c3;
  --detailMostaza: #c0a062;
  --black: #000000;
  --white: #ffffff;
  --strong: #ffffff;
}

strong {
  color: var(--strong);
}

body {
  display: block;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--bgColor);
  color: var(--colorFont);
  font-size: 1rem;
}
section.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
hr {
  width: 50%;
  border: 1px solid var(--detailMostaza);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}
a:link {
  color: var(--detailMostaza);
}

a:visited {
  color: var(--detailMostaza);
}

a:active {
  color: var(--detailMostaza);
}

/* Header */

header {
  width: 100%;
  overflow: hidden;
  background-color: var(--bgColor);
  margin-bottom: 10%;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
header a.LG,
div.SG a {
  color: var(--black);
  background-color: var(--detailMostaza);
  font-size: 40px;
  line-height: 100px;
  padding: 0 5px;
  margin: 25px 10px;
  border-radius: 0.3em 0;
  overflow: hidden;
  float: left;
}
header a.logo,
div.Sebastian a {
  color: var(--white);
  font-size: 40px;
  line-height: 150px;
  overflow: hidden;
  float: left;
}

header nav {
  float: right;
  line-height: 150px;
}
header nav a.head {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 25px;
}
header nav a:hover {
  /* background: var(--detailMostaza); */
  border-radius: 30px;
  border-bottom: solid 1px var(--detailMostaza);
  font-size: 1.4em;
  right: 100%;
  transition: 0.8s;
  color: var(--detailMostaza);
}

/*  Presentacion */

div.container {
  margin-bottom: 10%;
}
div.container img,
div.container p,
div.container h1 {
  margin-left: auto;
  margin-right: auto;
}
div.container img {
  display: block;
  padding-bottom: 40px;
  border-radius: 20px;
}
div.container h1 {
  text-align: center;
  color: var(--white);
}
div.container p {
  text-align: center;
}

/* Sobre mi */

div.sobreMi h2 {
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 2%;
}
div.sobreMi h2 {
  color: var(--white);
}

/* Herramientas */

section.backend,
section.frontend {
  display: inline-table;
  padding-top: 10%;
  padding-bottom: 7%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
section.backend h2,
section.backend h3,
section.frontend h2,
section.frontend h3 {
  padding-bottom: 3%;
  color: var(--white);
}

section.backend p,
section.frontend p,
section.frontend ul,
section.backend ul {
  padding-bottom: 3%;
}

/* Recent works */

section.recentWorks {
  padding-bottom: 7%;
  padding-top: 7%;
  margin-bottom: auto;
  margin-top: auto;
}
section.recentWorks h2 {
  color: var(--white);
  text-align: center;
  padding-bottom: 3%;
}
section.recentWorks p {
  text-align: center;
}
div.works {
  padding-top: 5%;
  width: 30%;
  display: inline-table;
}
div.works a img {
  width: 100%;
  border-radius: 10px;
}
div.works p {
  font-size: 0.95rem;
}

/* Collaborations */

section.collaborations {
  padding-bottom: 10%;
  padding-top: 7%;
}
section.collaborations h2 {
  color: var(--white);
  text-align: center;
  padding-bottom: 3%;
}
section.collaborations p {
  text-align: center;
}

/* StartUps */

section.startups {
  padding-bottom: 10%;
}
section.startups h2 {
  text-align: center;
  color: var(--white);
  padding-bottom: 3%;
}
section.startups h3 {
  padding-top: 3%;
  padding-bottom: 1%;
  color: var(--white);
  text-align: center;
}
section.startups p {
  text-align: center;
}

/*  Work with US */

section.newProject {
  padding: 20px;
  margin-top: 7%;
  border: solid 2px var(--detailMostaza);
  border-radius: 10px;
}
section.newProject div.part1,
section.newProject div.part2,
section.newProject div.part3 {
  width: 30%;
  display: inline-table;
  padding-bottom: 10%;
  vertical-align: middle;
  padding: 10px;
}

section.newProject div.part3 a {
  margin-left: 80px;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 2px var(--detailMostaza);
}
section.newProject h2 {
  color: var(--white);
}

/* Logo fin pagina */

section.prefooter {
  padding-top: 10%;
  padding-left: 25%;
  padding-bottom: 10%;
}
div.logo {
  display: inline-table;
}
section.prefooter p {
    width: 100%;
    text-align: right;
}

/* Footer */

section.footer {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
section.footer a {
  display: inline-table;
  padding: 20px;
  padding-bottom: 15%;
}
section.footer p {
  text-align: center;
  color: var(--white);
  font-size: 0.8em;
}
